<% if flash[:message] %>
<div class="notice"><%= flash[:message] %> </div>
<% end %>


<h5> <p> group name - <%= @poem.group.name %> </p> </h5>


<h3> <%= @poem.title %> </h3>

<h5> <%= @poem.content %> </h5>
<br>
<%= link_to "Edit Poem", edit_poem_path(@poem) %>


<br>
<br>
     Leave a Comment
<%= form_for @comment do |f| %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.hidden_field :poem_id, :value => @poem.id %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.submit "Comment" %>
<% end %>

<h5> Comments </h5>
<% @poem.comments.each do |comment| %>
<p>  <%= "#{comment.user.name}: #{comment.description}" %> </p>
<% end %>
