  <!DOCTYPE html>
  <html>
  <head>
    <title>Poem Land</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= link_to stylesheet_link_tag :application, "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"%>
  </head>
  <body>
    <!-- <nav class="navbar navbar-inverse navbar-top navbar-fixed-top">
      <div class="container-fluid">
        <div class="container">
          <div class="navbar-header">
        <button>
       <a class="navbar-brand" href="/">Home Page</a>
     </button> -->

     <!-- <div id="navbar" class="navbar-collapse collapse">
             <li><%= link_to "Groups", groups_path %></li>
             <li><%= link_to "Poems", poems_path %></li>
     </div>
     <br> -->

     <nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">poemland</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Poems", poems_path %></li>
      <li><%= link_to "Groups", groups_path %></li>
    </ul>
  </div>
</nav>

     <!-- </div>
        </div>
      </div>
    </nav> -->
    <div id="main-container" class="container">
      <%= yield %>
    </div>
  </body>
  </html>
